In [1]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

In [3]:
# Create a Pandas Series with the given data
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the Series
print("Pandas Series:")
print(series)

Pandas Series:
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [5]:
# Create a list variable containing 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Apply the pd.Series() function on the list variable
my_series = pd.Series(my_list)

# Print the Series
print("Pandas Series:")
print(my_series)

Pandas Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [6]:
# Q3. Create a Pandas DataFrame that contains the following data:

In [7]:
dict = { 'Name': ['Alice' ,'Bob', 'Claire'] , 'Age': [25 ,30,27], 'Gender' :['Female','Male','Female ']}

In [8]:
df = pd.DataFrame(dict)

In [9]:
df

     Name  Age   Gender
0   Alice   25   Female
1     Bob   30     Male
2  Claire   27  Female

In [11]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.

In [12]:
# Create two Pandas Series
sr1 = pd.Series(['php', 'python', 'java', 'c', 'c++'])
sr2 = pd.Series([1, 2, 3, 4, 5])

# Combine the Series into a DataFrame using pd.concat()
df = pd.concat([sr1, sr2], axis=1)

# Print the DataFrame
print("Pandas DataFrame:")
print(df)

Pandas DataFrame:
<class 'pandas.core.frame.DataFrame'>